.container {
  margin-top: 100px;
  text-align: center;
}

video {
  position: absolute;
}

svg {
  position: relative;
  z-index: 2;
  pointer-events: none;
}

rect {
  stroke-width: 2;
  stroke-opacity: 0.9;
  fill-opacity: 0;
}
